[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
[http]
	sslverify = false
[user]
	name = brucechanjianle
	email = jianle001@e.ntu.edu.sg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	tool = meld
[core]
	editor = nvim
